@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
  color: white;
  font-family: 'Lato', sans-serif;
}

.table{
  width: 50%;
  justify-self: center;
  margin: 1rem;
}

.row{
  width: 100%;
  margin-top: .5rem;
  align-self: center;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.letter{
  background-color: #232323;
  border-radius: 8px;
  width: 90%;
  height: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.keyboard{
  width: 50vw;
  height: 250px;
  justify-self: center;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.key{
  background-color: #434343;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 85%;
  height: 90%;
  transition: opacity .3s;
}

.key:nth-child(21){
  grid-column-start: 1;
  grid-column-end: 3;
}
.key:nth-child(28){
  grid-column-start: 9;
  grid-column-end: 11;
}
.key:active{
  opacity: .5;
}

.green{
  background-color: greenyellow;
}
.greenKey{
  background-color: yellowgreen !important;
}
.yellow{
  background-color: yellow;
}
.black{
  background-color: lightgray;
}

.green, .yellow, .black, .greenKey {
  color:black;
}